@font-face {
  font-family: 'cs-font';
  src:  url('fonts/cs-font.eot?8fiwnq');
  src:  url('fonts/cs-font.eot?8fiwnq#iefix') format('embedded-opentype'),
    url('fonts/cs-font.ttf?8fiwnq') format('truetype'),
    url('fonts/cs-font.woff?8fiwnq') format('woff'),
    url('fonts/cs-font.svg?8fiwnq#cs-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cs-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-solid:before {
  content: "\e91c";
}
.icon-catogories-solid:before {
  content: "\e91d";
}
.icon-fav-solid:before {
  content: "\e91e";
}
.icon-flash-solid:before {
  content: "\e91f";
}
.icon-home-solid:before {
  content: "\e91b";
}
.icon-home:before {
  content: "\e91a";
}
.icon-shipping:before {
  content: "\e919";
}
.icon-orders2:before {
  content: "\e90f";
}
.icon-bag:before {
  content: "\e910";
}
.icon-account:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-back:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-add:before {
  content: "\e915";
}
.icon-fav:before {
  content: "\e916";
}
.icon-shareAn:before {
  content: "\e917";
}
.icon-shareIos:before {
  content: "\e918";
}
.icon-cart:before {
  content: "\e90e";
}
.icon-flash:before {
  content: "\e909";
}
.icon-linePoints:before {
  content: "\e90d";
}
.icon-arrowLeft:before {
  content: "\e90a";
}
.icon-arrowRight:before {
  content: "\e90b";
}
.icon-catogories:before {
  content: "\e90c";
}
.icon-creditCard:before {
  content: "\e908";
}
.icon-address:before {
  content: "\e900";
}
.icon-liveChat:before {
  content: "\e901";
}
.icon-notify:before {
  content: "\e902";
}
.icon-orders:before {
  content: "\e903";
}
.icon-service:before {
  content: "\e904";
}
.icon-settings:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
